* {
  box-sizing: border-box;
}

#overlay{
  position: fixed;
  background-color: #446630;
  /* display: none; */
  width: 900px;
  height: 1400px;
  z-index: 2;

}

#text{
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 7em;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #28ff0d;
  font-family: 'Anton', sans-serif;
  text-shadow: 10px 6px 3px #4550a1;
}

#p{
  position: absolute;
  top: 52%;
  left: 50%;
  font-size: 2.5em;
  transform: translate(-50%, -50%);
  z-index: 2;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #28ff0d;
  background-color: #8c52ff;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 900px;
  height: 1400px;
  flex-wrap: wrap;
  background-color: #446630;
}

.cell {
  /* border: 1px solid whitesmoke; */
  font-size: 2em;
}

.grid .frog {
  background-image: url('images/frog.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.cell.frogReachedHome {
  background-image: url('images/frog.png');
  background-size: contain;
  background-repeat: no-repeat;
  
}

.road {
  background-color: rgb(208, 203, 203);
  /* background-image: url('https://4.bp.blogspot.com/-uc0zj2HlCwE/Tt-xl5k1XjI/AAAAAAAAAdk/5rAdxkcA9Zg/s1600/Road+2.jpg'); */
}

.river {
  background-color: #1fc8c4;
}

.statusBar {
  background-color: #446630;
  color: #28ff0d;
}

.home {
  background-size: contain;
  background-repeat: no-repeat;
  background-color:#1fc8c4;
  
}

.sidewalk {
  /* background-image: url('images/grass.jpg'); */
  background-color: #545454;
  background-size: cover;
  
}

.points, .lives {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #446630;
}

.carL{
  background-image: url('images/carleft.png');
  background-repeat: no-repeat;
  background-size: contain;

}

.carR{
  background-image: url('images/carright.png');
  background-repeat: no-repeat;
  background-size: contain; 
  transition: width 1s ease-in-out
}

.logR {
  background-image: url('images/turtleRight.png');
  background-size: contain;
  background-color: #1fc8c4;
  background-repeat: no-repeat
}

.logL{
  background-image: url('images/fishLeft.png');
  background-size: contain;
  background-color: #1fc8c4;
  background-repeat: no-repeat

}

.result {
  font-size: x-large;
  color: #28ff0d;
  font-family: 'Anton', sans-serif;
  position: absolute;
  font-size: 2.5em;
  text-shadow: 5px 3px 2px #4550a1;

}

.lives{
  display: flex;
  flex-direction: column;
}
.displayHearts{
  display: block;
  position: absolute;
}

h1{
  color: lightgreen;
  font-size: 7em;
}

.roadmarkings {
  width: 887px;
  position: absolute;
  top: 1108px;
  border-top: dashed 13px #ffd900;
}

.grass {
  background-image: url('images/grass.jpg');
}