* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 700px;
  height: 1400px;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid green;
  font-size: 25px;
}

.grid .frog {
  background-color: chartreuse;
  background-size: contain;
}

.frogReachedHome {
  background-image: url('https://banner2.cleanpng.com/20180511/qqq/kisspng-the-frog-prince-true-frog-5af52aaaaec407.1051844115260166827159.jpg');
  background-size: contain;
}

.road {
  background-color: rgb(208, 203, 203);
}

.river {
  background-color: rgb(0, 217, 255);
}

.statusBar {
  background-color: black;
  color: beige;
}

.home {
  background-color: khaki;
}

.timer {
  background-image: url('https://banner2.cleanpng.com/20180614/gi/kisspng-alarm-clocks-computer-icons-flat-design-cartoon-sharing-5b222cf9b52252.1682352215289663937419.jpg');
  background-size: cover;
  background-position: center;
}

.showPoints {
  color: green;
}

.carL, .carR{
  background-color: hotpink;
}

.log {
  background-color:saddlebrown;
}
.frogOnLog {

}
