* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 700px;
  height: 1400px;
  flex-wrap: wrap;
}

.cell {
  /* border: 1px solid whitesmoke; */
  font-size: 2em;
}

.grid .frog {
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/346/346211.svg?token=exp=1610987875~hmac=54b41eb2ce031df8cadf678caefcbec6');
  background-size: contain;
  background-repeat: no-repeat;
}

.cell.frogReachedHome {
  background-image:url('https://www.flaticon.com/svg/vstatic/svg/346/346262.svg?token=exp=1610989765~hmac=d7c77c9ffce011a975d3181713eba879');
  background-size: contain;
  background-repeat: no-repeat;
  
}

.road {
  background-color: rgb(208, 203, 203);
}

.river {
  background-color: rgb(0, 217, 255);
}

.statusBar {
  background-color: black;
  color: beige;
}

.home {
  background-image: url('https://www.vhv.rs/dpng/d/146-1465016_lily-pad-water-lily-leaf-clipart-hd-png.png');
  background-size: contain;
  background-repeat: no-repeat;
  
}

.countdown, .points, .lives {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carL{
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/744/744465.svg?token=exp=1611078583~hmac=0dbdb6a9242d44c1387298b016a4cadd');
  background-repeat: no-repeat;
  background-size: contain;
}

.carR{
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/744/744506.svg?token=exp=1611078566~hmac=e93d5518868dd2421d403d55b5aa6fa2');
  background-repeat: no-repeat;
  background-size: contain;
}

.logL, .logR {
  background-color: chocolate;
}

/* .frogOnLog {

} */

.lives{
  display: flex;
  flex-direction: column;
}
.displayHearts{
  display: flex;
  flex-direction: row;
  width: 100px;
}